@model List<CarRent.Features.Mediator.Results.CarResults.GetCarQueryResult>
@{
    ViewData["Title"] = "Index";
    ViewData["PageTitle"] = "Arabalar Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-12">
    <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="heading1 margin_0">
                <h2>Arabalar Listesi</h2>
            </div>
        </div>
        <div class="table_section padding_infor_info">
            <div class="table-responsive-sm">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Görsel</th>
                            <th>Model</th>
                            <th>Marka</th>
                            <th>Yıl</th>
                            <th>Km</th>
                            <th>Vites Türü</th>
                            <th>Lokasyon</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.CarId</td>
                                    <td><img src="@item.ImageUrl" style="width:150px;height:100px;"/></td>
                                    <td>@item.Model</td>
                                    <td>@item.BrandTitle</td>
                                    <td>@item.Year</td>
                                    <td>@item.Km</td>
                                    <td>@item.Transmission</td>
                                    <td>@item.LocationTitle</td>
                                    <td><a href="/AdminCars/DeleteCar/@item.CarId" class="btn btn-danger">Sil</a></td>
                                    <td><a href="/AdminCars/UpdateCar/@item.CarId" class="btn btn-warning">Güncelle</a></td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <div class="alert alert-warning">Listelenecek herhangi bir araba bulunamadı.</div>
                            </tr>
                        }


                    </tbody>
                </table>
                <a href="/AdminCars/CreateCar" class="btn btn-primary">Yeni Araba Girişi</a>
            </div>
        </div>
    </div>
</div>
